<!DOCTYPE html>
<html lang="KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Runclear</title>
    <link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
</head>

<body>
<header>
    <div class="login_header">
        <a href="/main.html"><h3>&#10094;</h3></a>
        <h3>로그인</h3>
        <div class="air">&nbsp;</div>
    </div>
</header>
    <div class="login_container">
        <div class="login_box">
            <div class="login_input">
                <form class="input_box">
                    아이디<br>
                    <input id="userid" type='text' placeholder="아이디를 입력해 주세요." /> <br>
                    비밀번호<br>
                    <input id="pwd" type='password' placeholder="비밀번호를 입력해 주세요." />
                </form>
            </div>
            <div class="login_button_box">
                <a href="/home.html"><div class="login_button_2">
                    <p>로그인</p>
                </div></a>
            </div>
        </div>
    </div>
</body>

</html>